<div class="block md:flex">

	<!-- Navigation -->
	<nav
		class="bg-[url('/assets/images/bg-sidebar-mobile.svg')]
			lg:bg-[url('/assets/images/bg-sidebar-desktop.svg')]
			bg-no-repeat flex justify-center space-x-4 w-full md:flex-col
			md:w-1/5 md:rounded-md md:mx-8"
	>
		<div class="flex my-12 space-x-2 md:flex-col md:space-x-0 md:space-y-6 md:mx-6 md:mb-56">
				<ul class="flex space-x-4 md:ml-6 md:flex-col md:space-x-0 md:space-y-4 ">
					@for (step of steps; track $index) {
						<div class="block md:flex md:space-x-4">
							<li
								class="{{currentStep === step.id ? 'bg-red-500 border-red-500': 'border-white'}}
								 border-2  rounded-full px-2 py-1 md:px-4 md:py-2
								text-white text-xs md:text-lg"
							>
								{{step.id}}
							</li>

							<div class="hidden md:block text-white uppercase">
								<h1 class="text-sm font-light">Step {{step.id}}</h1>
								<h2 class="text-lg font-semibold">{{step.title}}</h2>
							</div>
						</div>
					}
				</ul>
		</div>
	</nav>

	<!-- Form section -->

	<section>
		@for( form of data; track $index ) {
			{{ form.title}}
		}




		<!-- <form [formGroup]="userData" (ngSubmit)="onSubmit()">
			@switch (currentStep) {
				@case(1) {
					<app-info-form [personalInfoForm]="userData"></app-info-form>
				}
				@case(2) {
					<app-plan-form></app-plan-form>
				}
				@case(3) {
					<app-add-ons-form></app-add-ons-form>
				}
				@case(4) {
					<app-summary-form></app-summary-form>
				}

			}
			<div class="w-full mt-8 mx-4">
				@if(currentStep === 1) {
					<app-button type="button" (click)="handleButtonClick('next')" [text]="btnText[0]"></app-button>
				}
				@else if (currentStep === steps.length) {
					<app-button type="button" (click)="handleButtonClick('prev')" [text]="btnText[1]"></app-button>
					<app-button type='submit' [text]="btnText[2]" ></app-button>
				}
				@else {
					<app-button type="button" (click)="handleButtonClick('prev')" [text]="btnText[1]">Previous</app-button>
					<app-button type="button" (click)="handleButtonClick('next')" [text]="btnText[0]"></app-button>
				}
			</div>
		</form> -->
	</section>
</div>
